/* Ok so this is terrible!! I apologize in advance to anyone who could be reading this. 
Just like anything good, it was made with coffee at 3 am (not really its 10 pm...) oK BYE */


body {
    margin-left: 8%;
    margin-right: 8%;
    padding: 0;
    background: #18141e;
    color: #dddddd;
}

hr {
    border: 1px solid rgba(242, 179, 255, 0.2); 
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}


.about-me {
    margin-top: 2%;
}

.section-title {
    display: inline-block;
    color: #8564ff;
    font-size: 1.3rem;
    font-family: "SF Mono", monospace;
}

.section-subtitle {
    display: inline-block;
    color: #f0ecff;
    font-size: 0.8rem;
    font-family: "SF Mono", monospace;
}

.me {
    display: inline-block;
    font-size: 3rem;
    font-family: "Roboto Regular", sans-serif;

    color: #f0ecff;
}

.content {
    text-align: justify;
    font-family: "SF Mono", monospace;
    font-size: 1rem;
    margin-top: 0.5%;
    line-height: 1.8;
    color: #f0ecff;
}

.about-me-text {
    width: 100%;
}


.badge {
    background-color: #a953ff;
    display: inline-block;
    margin-right: 1%;
}

.badge a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: white;
}

.contact {
    text-align: center;
}

.logo {
    height: 5.5vh; 
    min-height: 30px;
}

